<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configuration>
		<location path="." inheritInChildApplications="false">
			<system.webServer>
				<staticContent>
					<remove fileExtension=".mem" />
                      <mimeMap fileExtension=".mem" mimeType="application/octet-stream" />
                      <remove fileExtension=".data" />
                      <mimeMap fileExtension=".data" mimeType="application/octet-stream" />
                      <remove fileExtension=".unity3d" />
                      <mimeMap fileExtension=".unity3d" mimeType="application/octet-stream" />
                      <remove fileExtension=".jsbr" />
                      <mimeMap fileExtension=".jsbr" mimeType="application/octet-stream" />
                      <remove fileExtension=".membr" />
                      <mimeMap fileExtension=".membr" mimeType="application/octet-stream" />
                      <remove fileExtension=".databr" />
                      <mimeMap fileExtension=".databr" mimeType="application/octet-stream" />
                      <remove fileExtension=".unity3dbr" />
                      <mimeMap fileExtension=".unity3dbr" mimeType="application/octet-stream" />
                      <remove fileExtension=".jsgz" />
                      <mimeMap fileExtension=".jsgz" mimeType="application/x-javascript; charset=UTF-8" />
                      <remove fileExtension=".memgz" />
                      <mimeMap fileExtension=".memgz" mimeType="application/octet-stream" />
                      <remove fileExtension=".datagz" />
                      <mimeMap fileExtension=".datagz" mimeType="application/octet-stream" />
                      <remove fileExtension=".unity3dgz" />
                      <mimeMap fileExtension=".unity3dgz" mimeType="application/octet-stream" />
					<remove fileExtension=".unityweb" />
					<mimeMap fileExtension=".unityweb" mimeType="application/octet-stream" />
				</staticContent>
				<handlers>
					<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
				</handlers>
				<aspNetCore processPath="dotnet" arguments=".\Damnation.dll" stdoutLogEnabled="false" stdoutLogFile="\\?\%home%\LogFiles\stdout" hostingModel="inprocess" />
			</system.webServer>
		</location>
	</configuration>

</configuration>